.main{
  height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  padding-left: 24px;
  min-height: 100vh;
  overflow: auto;
  grid-area: content;
}

.main.fadeIn{
  max-height: 100vh;
  overflow: hidden;
}

.fadeIn::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  background: var(--color-dark);  
  z-index: 8888;
}

.fadeIn::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  background: var(--color-dark);  
  z-index: 8888;
}

@media (max-width: 990px){
  .main{
    padding: 0;
  }
}

@media (max-width: 795px){
  .main{
    height: auto;
    min-height: 1px;

    width: 100%;
    max-width: 100vw;
    overflow: hidden;
  }

  .main:is(.fadeIn){
    height: calc(100vh - var(--header-mobile-height)) !important;
    max-height: calc(100vh - var(--header-mobile-height));
    overflow: hidden;
    min-height:0px !important;
  }

  .fadeIn{
    width: 100vw;
    height: calc(100vh - var(--header-mobile-height));
    top: 0px;
    left: 0px;
    transform: unset;
    overflow: hidden;
  }
}