.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-template-areas: "content image";

  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 16px;
  grid-area: content;
}

.content .tech {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: auto;
  gap: 36px;
  height: 54px;
  align-items: center;
}

.content .tech svg {
  max-width: 32px;
  height: auto;
}

.content .tech svg:last-child {
  max-width: 64px;
}

.image {
  display: flex;
  justify-content: center;
  grid-area: image;
  position: relative;
}

.image .user {
  position: relative;
  width: auto;
  height: auto;
  z-index: 1;
}

.image .user::before {
  content: "";
  position: absolute;
  width: 340px;
  height: 280px;
  background-color: var(--blue-200);
  z-index: -1;
  top: -35%;
  right: -40%;
}

.image .user img {
  width: 280px;
  height: 280px;
  border: 14px solid var(--profile-image-border);
  background: var(--black-600);
  border-radius: 50%;
  z-index: 2;
  transform: translateY(-32px);
}

@media (max-width: 990px) {
  .section {
    padding: 100px 24px;
    padding-top: 125px;
  }
}

@media (max-width: 795px) {
  .section {
    grid-template-columns: none;
    grid-template-rows: auto auto;
    grid-template-areas: "image" "content";
    margin-top: 16px;
    padding-left: 0px;
    justify-content: center;
  }

  .image .user::before {
    width: 319px;
    height: 250px;
  }
}

@media (max-width: 550px) {
  .section {
    padding: 65px 0;
    padding-top: 125px;
  }

  .image {
    height: 250px;
  }

  .image .user::before {
    top: -50%;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0px 0px 0px 0px;
  }

  .image .user img {
    width: 250px;
    height: 250px;
    transform: unset;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .content h2 {
    margin: 32px 0;
  }
  .content p {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0 16px;
    text-align: center;
  }

  .content .card_tech {
    max-width: 90px;
  }
}

@media (max-width: 410px) {
  .section {
    padding-top: 105px;
  }
  .image {
    height: 170px;
  }

  .image .user::before {
    padding: 0px;
    top: -50%;
    right: 0;
    left: 50%;
    width: 250px;
    height: 200px;
    transform: translateX(-50%);
  }

  .image .user img {
    width: 180px;
    height: 180px;
    transform: unset;
  }
}
