.title{
  font-weight: bold;
  color: var(--color-title);
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

h1.title{
  font-family: 'Open sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 60px;
  line-height: 56px;
}

h2.title{
  line-height: normal;
  font-size: 36px;
}

@media (max-width: 755px){
  h1.title{
    font-size: 52px;
    line-height: 56px;
  }
}

@media (max-width: 610px){
  h1.title{
    font-size: 42px;
    line-height: 46px;
  }
}

@media (max-width: 410px){
  h1.title{
    font-size: 38px;
    line-height: 42px;
  }
  
  h2.title{
    line-height: normal;
    font-size: 32px;
  }
}