.navigation {
  width: 100%;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  gap: 6px;
}

.navigation ul li {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 64px;
}

.navigation ul li a {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 350ms linear;
  font-size: 13px;
  color: var(--color-text);

  width: calc(100% - 12px);
  height: 46px;
  border-radius: 4px;
}

.navigation ul li a .icon {
  width: 18px;
  height: 18px;

  transition: 350ms linear;
}

.navigation ul li a:hover .icon {
  
  color: var(--color-tab-active);
}

.navigation ul li a[data-active="true"] {
  background: var(--bg-color-tab-active);
  color: var(--title);
}

.navigation ul li a[data-active="true"] .icon {
  
  position: relative;
  z-index: 10;
}

.navigation button{
  display: none;
}

@media (max-width: 795px) {
  .navigation {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    transform: unset;
    
    width: 280px;
    display: none;
    padding-top: 65px;
    height: 100vh;
  }

  /* Menu visible */
  .navigation[data-show="true"] {
    position: fixed;
    left: 0px;
    top: 0;
    bottom: 0;
    width: 320px;
    background: var(--bg-color-navigation);
    z-index: 5000;
    display: flex;
    flex-direction: column;
    padding-top: 65px;
    justify-content: center;
  }

  .navigation button{
    display: flex;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
  }

  .navigation ul {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 12px;
    height: auto;
    gap: 16px;
  }

  .navigation ul li,
  .navigation ul li a[href] {
    width: auto;
    text-decoration: none;
    transition: 350ms linear;
    height: auto;
    padding: unset;
  }

  .navigation ul li a .icon {
    display: none;
  }

  .navigation ul li a[data-active="true"] {
    
    background: unset;
  }

  /* show label in menu */
  .navigation ul li a::after {
    content: attr(aria-label);
    color: var(--navigation-label);
    padding-left: 12px;
    font-weight: 600;
    font-size: 16px;
  }

  .navigation ul li a[data-active="true"]:after {
    color: var(--white);
  }

  .navigation ul li a:hover::after {
    color: var(--white);
  }

  /* Transitions */
  @keyframes slideIn {
    0% {
      left: -200%;
    }
    100% {
      left: 0px;
    }
  }

  @keyframes slideOut {
    0% {
      left: 0px;
    }
    100% {
      left: -100%;
      
    }
  }

  .navigation[data-show="false"] {
    animation: slideOut 350ms ease-out forwards;
  }

  .navigation[data-show="true"] {
    animation: slideIn 350ms linear forwards;
  }
}
