.painel {
  width: calc(100% - 64px);
  max-width: 1100px;
  height: 100%;
  max-height: 580px;
  min-height: 580px;
  background: var(--bg-painel);
  position: relative;
  display: flex;
  border-radius: 6px;
}

.painel .painel-details {
  width: 50%;
  max-width: 500px;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.painel .painel-details .content {
  max-width: 364px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}

.painel .painel-details .content .title {
  font-size: 34px;
  font-family: "Roboto", serif;
  color: var(--white);
  line-height: 42.1px;
  margin-bottom: 14px;
}

.painel .painel-details .content p{
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  font-weight: 300;
}

body[data-theme="light"] .painel .painel-details .content .description{
  color: var(--gray-200);
}

body[data-theme="light"] .painel .painel-details .content a{
  color: var(--gray-200);
}

.painel .painel-details .content .groupButtons {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

/* Imagem */
.painel .painel-preview {
  --p-right: -254px;
  --p-right-out: calc((var(--p-right) - 35px));
  width: 100%;
  max-width: 900px;
  height: 100%;
  max-height: 500px;
  background: var(--black-700);
  position: absolute;
  top: 50%;
  right: -254px;
  transform: translateY(-50%);
  border-radius: 4px;
  overflow: hidden;
  animation: out 340ms linear forwards;
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 1250px) {
  .painel .painel-details {
    max-width: 320px;
  }
  .painel .painel-preview {
    --p-right: -160px;
    max-width: 800px;
  }
}

@media (max-width: 1190px) {
  .painel .painel-details {
    padding: 32px;
  }
  .painel .painel-preview {
    --p-right: -190px;
    max-width: 750px;
  }
}

@media (max-width: 1100px) {
  .painel{
    min-height: 420px;

  }
  .painel .painel-preview {
    --p-right: -82px;
    max-width: 600px;
    max-height: 360px;
  }
}

@media (max-width: 1100px){
  .painel .painel-details .content .title{
    font-size: 34px;
  }
  .painel .painel-preview {
    --p-right: -82px;
    max-width: 550px;
    max-height: 360px;
  }
}

.painel:hover .painel-preview {
  animation: in 340ms linear forwards;
}

.painel .painel-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  opacity: 0.8;
  transition: 300ms linear;
}

.painel:hover .painel-preview img {
  opacity: 1;
}

@keyframes in {
  0% {
    right: var(--p-right);
  }
  100% {
    right: var(--p-right-out);
  }
}

@keyframes out {
  0% {
    right: var(--p-right-out);
  }
  100% {
    right: var(--p-right);
  }
}


@media(max-width: 995px){
  .painel{
    flex-direction: column;
    padding-top: 195px;
    width: 100%;
    max-width: calc(100% - 24px);
  }

  .painel .painel-details{
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }

  .painel .painel-details .content{
    max-width: 550px;
    justify-content: center;
    align-items: center;
  }

  .painel .painel-details .content .title{
    margin-bottom: 8px;
    text-align: center;
  }

  .painel .painel-preview{
    position: absolute;
    top: -50%;
    right: unset;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: calc(100% - 64px);
    max-height: 400px;
  }

  .painel .painel-preview img{
    object-position: top;
  }

}

@media (max-width: 410px){
  .painel{
    max-width: 100%;
    padding-top: 149px; /* 24px a partir da posição do card-preview */
    min-height: 350px;
  }
  

  .painel .painel-details{
    padding: 0px 8px;
    padding-bottom: 32px;
  }

  .painel .painel-details .content{
    max-width: unset;
  }

  .painel .painel-details .content .title{
    font-size: 26px;
    line-height: 32px;
  }

  .painel .painel-details .content p{
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    word-break: keep-all;
    hyphens:auto;
  }



  .painel .painel-preview{
    max-width: calc(100% - 24px);
    max-height: 220px;
    top: -25%;
  }
}