.groupPanels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 54px;
  overflow-x: hidden;
  width: 100%;
}

@media (max-width: 995px) {
  .groupPanels {
    gap: 250px;
    padding-top: 250px;
    padding-left: 24px;
  }
}

@media (max-width: 550px) {
  .groupPanels {
    padding: 0px;
    padding-top: 150px;
    gap: 150px;
    width: calc(100% - 16px);
    margin: 0 auto;
  }
}