.errorPage{
  width: 100%;
  height: 100vh;
  overflow:hidden;
}

.errorPage .text{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.errorPage .text span{
  font-size: 24px;
  font-weight: medium;
}

.errorPage .text h2{
  display: flex;
  font-size: 256px;
  color: var(--color-title);
  line-height: 256px;
}

.errorPage .text .button{
  margin-top: 32px;
}

@media (max-width: 960px){
  .errorPage{
    padding-top: 42px;
  }
}

@media(max-width: 795px){
  .errorPage{
    padding: 0 16px;
    height: calc(100vh - var(--header-mobile-height));
  }
}

@media(max-width: 470px){
  .errorPage .text h2{
    font-size: 154px;
  }
}