.brand{
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 16px;
  position: relative;
  z-index: 8000;
}

.brand a{
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand a svg{
  width: 24px;
  height: 24px;
}

@media (max-width: 795px){
  .brand{
    width: auto;
    margin-top: 0px;
  }

  .brand a{
    text-decoration: none;
  }

  .brand a::after{
    content: "Lucas Fernando";
    font-size: 16px;
    font-weight: 400;
    color: var(--color-title);
    font-family: 'Roboto', sans-serif;
  }

  .brand a svg{
    display: none;
  }
}