.skills {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  position: relative;
}

.skillsMoreContent {
  composes: arrowAnimated from './composes/animation.css';
  position: absolute;
  left: 0px;
  bottom: 10px;
  color: var(--color-toAction);
  border-radius: 3px;
}

.skillsMoreContent svg {
  width: 32px;
  height: 32px;
}


.skills .illustration,
.skills .text {
  width: 50%;
}

.skills .text .content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 24px;
}

.skills .illustration {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
}


/* Add padding e aumenta o height do .skills em dispositivos landscape com telas menores */
@media (max-height: 589px) and (min-width: 769px) and (max-width: 1199px) {
  .skills {
    height: auto;
  }
  .skills .illustration {
    padding: 65px 0;
  }
}

@media (max-width: 1200px) {
  .skills .illustration {
    padding-right: 14px;
  }
}

@media (max-width: 960px) {
  .skills {
    flex-direction: column;
    padding: 65px 24px;
    height: auto;
    width: 100%;
  }

  .skills .illustration,
  .skills .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .skills .illustration {
    padding-right: 0;
  }
}

/* Add margin 0 ao h2 para centralizar */
@media (max-width: 795px) {
  .skills {
    padding: 65px 16px;
    padding-top: 0px;
    align-items: center;
    text-align: center;
  }

  .skills .text {
    order: 2;
    gap: 8px;
  }

  .skills .illustration {
    order: 1;
  }

  .skills .text .content {
    margin-top: 0;
    margin-bottom: 24px;
  }

  .skills .skillsMoreContent {
    display: none;
  }
}

@media (max-width: 550px) {
  .skills{
    gap: 24px;
    justify-content: flex-start;
  }

  .skills .text .title{
    width: fit-content;
    margin-bottom: 24px;
  }

  .skills .text {
    gap: 0px;
  }
  
  .skills .text p {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0px;
    text-align: center;
    text-align: justify;
  }

  .skills .illustration{
    align-items: center;
    padding: 0px;
    margin: 0px;
    max-height: 190px;
  }

  .skills .illustration img{
    max-width: 275px;
    max-height: 358px;
  }

  .skillsMoreContent{
    display: none !important;
  }
}

@media (max-width: 375px) {
  .skills .text p {
    padding: 0;
  }
}
